.App {
  /* text-align: center; */
}
.App-header {
  background-color: #282c34;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 1;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1%;
}
a {
  text-decoration: none;
}

.list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}
.customPagination{
  display: flex;
  justify-content: center;
  margin-top: 7%;
  z-index: 0;
}
.detailsList{
  display:flex;
  justify-content:center;
  margin-top:10%
}

